{% extends "lms/pages/items/items-list.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'lms/includes/layout-vertical.html' %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            {% include 'lms/includes/breadcrumb.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="card table-card">
                        <div class="card-header">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h5 class="mb-3 mb-sm-0">
                                    {{ card_header_title }}
                                </h5>
                                <div class="d-inline-flex flex-wrap gap-2">
                                    <button class="submit-order-btn btn btn-primary" data-url="{{ urls.add }}">
                                        {% trans 'Submit' %}
                                    </button>
                                    <button class="add-new-item-btn btn btn-primary" data-url="{{ urls.add }}">
                                        {% trans 'Add' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-3">

                            {{ table.render_table }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] start -->
{% endblock %}

{% block javascript %}
    <script>
        window.server_conf.items_list = {
            tableId: "{{ table.table_id }}",
            lesson_id: "{{ lesson.id }}",
            urls: {
                actionUrl: "{% url 'lms:lesson-action-api' %}",
            }
        }
    </script>
    {% include 'lms/includes/items-list/scripts.html' %}
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.5.0/css/rowReorder.bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-rowreorder/1.5.0/dataTables.rowReorder.min.js"
            integrity="sha512-6J+21ReiTrC4g+crR1BEBBo6UBh4We27kdlePXIAXh9X3Mtvx1oyuzFvg+YSHpCls/bzzKHHcLTHwJFqgzam5Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            class UpdatedItemListTable extends ItemListTable {
                _initDataTable() {
                    const self = this;
                    self.tableDatatable = self.tableEl.DataTable({
                        columns: self.columns,
                        "responsive": true,
                        rowReorder: {
                            dataSrc: "order",
                        },
                        paging: false,
                    });
                }
            }

            window.managers.checkManager("itemsListTable");
            window.managers.itemsListTable = new UpdatedItemListTable();
            window.managers.itemsListTable.init();

            const submitOrderBtn = $('.submit-order-btn');
            submitOrderBtn.attr('disabled', true);

            const table = window.managers.itemsListTable.tableDatatable;

            async function loadData() {
                const listApiUrl = window.managers.itemsListTable.itemsListData.listApiUrl + "?lesson=" + window.server_conf.items_list.lesson_id;
                $.get(listApiUrl, {}, function (res) {
                    const count = res.count;
                    const results = res.results;
                    table.clear();
                    table.rows.add(results).draw();
                });
            }

            $('.add-new-item-btn').click(function () {
                $.ajax({
                    url: window.managers.urlFormatter.formatNotReadyUrl(
                        window.server_conf.items_list.urls.actionUrl,
                        {
                            action: "lesson-page-add",
                        },
                    ),
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": getCSRFToken(),
                    },
                    data: {
                        lesson_id: window.server_conf.items_list.lesson_id,
                    },
                    success: function (response) {
                        if (response.success) {
                            loadData();
                        }
                    }
                })
            });
            $(document).on("click", ".open-editor-action-btn", function () {
                const data = window.managers.itemsListTable.tableDatatable.row($(this).closest("tr")).data();
                const editAction = window.managers.itemsListTable.actionsData.extra.find(function (action) {
                    return action.name === "open-editor";
                });
                if (!editAction) {
                    return;
                }
                window.location.href = window.managers.urlFormatter.formatUrlById(editAction.url, data, {}, "<int:pk>");
            });
            let pendingOrderChanges = [];
            table.on('row-reorder', function (e, diff, edit) {
                diff.forEach(function (change) {
                    const item = table.row(change.node).data();
                    pendingOrderChanges.push({
                        id: item.id,
                        order: change.newData,
                    });
                });
                submitOrderBtn.attr('disabled', false);
            });
            submitOrderBtn.on('click', function () {
                submitOrderBtn.attr('disabled', true);

                const newOrder = [];
                let counter = 1;
                table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                    const row = this.node();
                    newOrder.push({
                        id: table.row(row).data().id,
                        order: counter,
                    });
                    counter++;
                });

                $.ajax({
                    url: window.managers.urlFormatter.formatNotReadyUrl(
                        window.server_conf.items_list.urls.actionUrl,
                        {
                            action: "lesson-page-reorder",
                        },
                    ),
                    type: 'POST',
                    headers: {
                        "X-CSRFToken": getCSRFToken(),
                    },
                    contentType: 'application/json',
                    data: JSON.stringify({
                        lesson_id: window.server_conf.items_list.lesson_id,
                        changes: newOrder,
                    }),
                    success: function (response) {
                        if (response.success) {
                            pendingOrderChanges = [];
                            submitOrderBtn.attr('disabled', true);
                            loadData();
                        }
                    },
                    error: function (response) {
                        submitOrderBtn.attr('disabled', false);
                    }
                })
            });

            loadData();
        });
    </script>
{% endblock %}