.m-editor-component {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  &-content {
    width: 100%;
  }
  &-actions {
    margin-left: 10px;
    display: flex;
    & > button {
      margin-right: 5px;
      i {
        font-style: normal;
      }
    }
  }
}




