[data-editorjs-wrapper] .base-component-wrapper {
    padding: 16px;
    border: 1px solid #9a5959;
}

[data-editorjs-wrapper] .blue-card-wrapper {
    background-color: rgb(75, 130, 234);
    color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

[data-editorjs-wrapper] .audio-component-wrapper {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

[data-editorjs-wrapper] .audio-component-wrapper > * {
    margin-right: 20px;
}

[data-editorjs-wrapper] .file-component-caption {
    width: 100%;
    padding: 5px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}

[data-editorjs-wrapper] .video-component-wrapper {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

[data-editorjs-wrapper] .video-component-wrapper > * {
    margin-right: 20px;
}

[data-editorjs-wrapper] video {
    max-width: 100%;
}

