{% extends "lms/layouts/layout.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Sign IN' %} {% endblock %}

{% block content %}
    {% include 'lms/includes/loader.html' %}
    <div class="auth-main v1">
        <div class="bg-overlay bg-primary"></div>
        <div class="auth-wrapper">
            <div class="auth-form">
                <div class="card my-5">
                    <div class="card-body">
                        <img src="{% static 'assets/images/logo-dark.svg' %}" alt="" class="img-fluid mb-4 img-logo"/>
                        <h4 class="mb-3 f-w-400">{% trans 'Login' %}</h4>

                        <form method="post">
                            {% csrf_token %}

                            <!-- Username Field -->
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="user"></i></span>
                                {{ form.username }}
                            </div>
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors.0 }}</div>
                            {% endif %}

                            <!-- Password Field -->
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i data-feather="lock"></i></span>
                                {{ form.password }}
                            </div>
                            {% if form.password.errors %}
                                <div class="text-danger">{{ form.password.errors.0 }}</div>
                            {% endif %}

                            <!-- Non-field Errors (e.g., invalid credentials) -->
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors.0 }}
                                </div>
                            {% endif %}

                            <button type="submit" class="btn btn-primary btn-block mb-4">{% trans 'Login' %}</button>
{##}
{#                            <p class="mb-2">#}
{#                                {% trans "Don’t have an account?" %}#}
{#                                <a href="{% url 'register' %}" class="f-w-400">{% trans 'Register' %}</a>#}
{#                            </p>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

